.product {
   $bl: &;

   width: 100%;
   padding: 37px 19px 23px;
   border: 2px solid #DEDEDE;
   border-radius: 20px;
   position: relative;

      @media (min-width: 768px) {
         padding: 33px 30px 28px;
      }

      @media (min-width: 1728px) {
         padding: 28px 40px 27px;
      }

   &--big {
      @media (min-width: 768px) {
         padding: 60px 40px 50px;
      }

      @media (min-width: 1728px) {
         padding: 98px 78px 30px;
      }

      #{$bl}__image {
         @media (min-width: 768px) {
            width: 470px;
            height: 470px;
         }

         @media (min-width: 1728px) {
            width: 755px;
            height: 755px;
         }
      }

      #{$bl}__name {
         @media (min-width: 768px) {
            font-size: 64px;
            line-height: 80px;
            color: #000;
         }
      }

      #{$bl}__new {
         @media (min-width: 768px) {
            font-size: 48px;
            line-height: 66px;
            margin-right: 65px;
         }

         @media (min-width: 1728px) {
            margin-right: 57px;
         }
      }

      #{$bl}__old {
         @media (min-width: 768px) {
            font-size: 24px;
            line-height: 29px;
         }
      }
   }

   &::after {

      position: absolute;
      text-align: center;
      color: #fff;

      top: 10%;
      left: -10px;
   }

   &--hot {
      &::after {
         width: 59px;
         height: 32px;
         padding-left: 10px;
         padding-top: 3px;
         background-image: url("../img/icon-hot.svg");
         content: "Hot!";
         font-size: 16px;
         line-height: 35px;

         @media (min-width: 768px) {
            width: 120px;
            height: 65px;
            font-size: 30px;
            line-height: 70px;
         }

         @media (max-width: 767px) {
            background-size: cover;
            margin-left: 4px;
            padding-top: 8px;
            padding-right: 11px;
            width: 68px;
            height: 46px;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
         }
      }
   }

   &--new {
      &::after {
         width: 93px;
         height: 66px;
         padding-right: 13px;
         padding-top: 11px;
         background-image: url("../img/icon-new.svg");
         background-size: cover;
         content: "New";
         font-size: 18px;
         line-height: 30px;
      }
   }

   &__image {
      display: block;
      margin: 0 auto;
      width: 212px;
      height: 212px;

      @media (min-width: 1728px) {
         width: 363px;
         height: 363px;
      }
   }

   &__name {
      display: block;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      margin-bottom: 20px;
      color: #000;

      @media (min-width: 768px) {
         margin-bottom: 35px;
      }

      @media (min-width: 1728px) {
         margin-bottom: 20px;
      }
   }

   &__price {
      display: flex;
     justify-content: space-between;
     color: #000000;
      //align-items: center;
      width: 100%;

      @media (min-width: 1728px) {
         align-items: baseline;
      }
   }

   &__new {
      font-size: 24px;
      line-height: 33px;
      margin-right: 20px;
      color: #000;

      @media (min-width: 1728px) {
         margin-right: 25px;
      }
   }

   &__old {
      font-size: 18px;
      line-height: 24px;
      text-decoration: line-through;
      margin-right: auto;
      color: #000;
   }

   &__button {
      @include clear-button;

      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: #000;
      background-image: url("../img/arrow-in-button.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 14px;

      @media (min-width: 1728px) {
         width: 58px;
         height: 58px;
         background-size: 18px;
      }

      &--big {
         @media (min-width: 768px) {
            width: 65px;
            height: 65px;
            background-size: 20px;
         }

         @media (min-width: 1728px) {
            width: 118px;
            height: 118px;
            background-size: 40px;
         }
      }

      &--small {
         @media (min-width: 768px) {
            background-size: 18px;
         }
      }
   }
 }
