.slide-banner {
  position: relative;

  &__swiper {
    overflow: hidden;
  }

  &__pagination {
    position: absolute;
    top: 94% !important;
    right: 2% !important;
    z-index: 68;
    width: auto !important;
    left: auto !important;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: width 0.3s ease;

    @media (max-width: 767px) {
      right: 38% !important;
    }
  }

  &__swap {
    @include clear-button;
    display: none;
    background-image: url("../img/slide-left.svg");
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      display: block;
      position: absolute;
      width: 80px;
      height: 25px;
      top: 55%;
      z-index: 5;
      cursor: pointer;

    }

    &--left {
      left: 6%;

      @media (min-width: 1728px) {
        left: 2%;
      }
    }

    &--right {
      transform: rotate(180deg);
      left: 94%;

      @media (max-width: 1728px) {
        left: 86%;
      }
    }
  }

  &__swap-right {
    display: none;

    @media (min-width: 768px) {
      display: block;
      position: absolute;
      width: 19px;
      height: 11px;
      top: 48%;
      right: 1%;
    }
  }

  &__button {
    @include clear-button;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    border-radius: 5px;
  }

  &__button-active {
    @include clear-button;
    width: 30px;
    height: 11px;
    background-color: #ffffff;
  }
}
