/*
  Использование:
  @include after-label;
*/

 @mixin after-label {
   width: 59px;
   height: 32px;
   position: absolute;
   text-align: center;
   color: #fff;
   top: 10%;
   left: 0px;
   filter: drop-shadow(8px 7px 16px #00000015);
 }
